*{
    font-family: "Open Sans", "Roboto", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


.barra-de-navegacao{
    background-color: #c9c3e6;
}

.img-config{
    margin-bottom: 5px;
}

.nav-link{
    color: #333 !important;
    transition: color 0.5s ease;
}

.nav-link:hover{
    color: #fa7878 !important;
}

form-control:focus{
    border-color: #fa7878 !important;
    box-shadow: 0 0 8px rgba(250, 120, 120, 0.8) !important;
}

.btn{
    color: #ffc5c5 !important;
    border: 1px solid #ffc5c5 !important;
    transition: background-color 0.10s ease, color 0.5 ease;
}

.btn:hover{
    color: #fff !important;
    background-color: #ffc5c5 !important;
}

.navbar-toggler{
    border: 1px solid #ffc5c5 !important;
    color: #ffc5c5 !important;
}

.navbar-toggler-icon {
    filter: invert(86%) sepia(19%) saturate(490%) hue-rotate(310deg) brightness(103%) contrast(96%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flower{
    font-size: 100px;
    opacity: 0;
    transition: opacity  1s ease-in-out;
    background: transparent;
    z-index: 1;
}

.flower.show{
    opacity: 1;
}

.welcome-text{
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out, position 1s ease-in-out;
}

.welcome-text.show{
    opacity: 1;
}

.panel-start{
    display: flex;
}

.img-welcome{
    position: absolute;
    width: 100vw;
    max-height: 1000px;
    object-fit: cover;
    filter: brightness(0.8);
    z-index: 0;
}

.message-container{
    padding: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.text-message{
    padding: 2px;
    font-size: 30px;
    color: #fff;
    z-index: 1;
    letter-spacing: 5px;
}

.final-text{
    max-width: 100%;
    color: #FFF;
    font-size: 48px;
    text-transform: lowercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.final-text::before, .final-text::after{
    content: "🌸";
    font-size: 40px;
    color: #fa7878;
}